@import "./main";
@import "./variables";

// Flex

.flex {
   display: flex;
   &-f-d {
      flex-direction: column;
   }
}

// Button

button {
   font: inherit;
   background: transparent;
   border: 2px solid $transparentWhite;
   background: #fff;
   cursor: pointer;
   padding: 1.125rem 2.125rem;
   font-weight: 400;
}