@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


// VARIABLES 


$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
$transparentWhite: hsla(0, 0%, 100%, 0.75); // paragraph
$veryLightGray: hsl(0, 0%, 95%); // background, headings, buttons

// RESET

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font: inherit;
    background-color: #fff;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    opacity: 0.9;
}



// GENERAL STYLE

html {
    font-family: 'Lexend Deca';
    font-size: 16px;
    background-color: $transparentWhite;
}


.main-container {
    max-width: 992px;
    width: 90%;
    margin: 2rem auto;
    border-radius: 20px;
    overflow: hidden;
    p {
        margin-bottom: 1rem;
    }
    p, h1 {
        line-height: 1.5;
    }

    .row {
        padding: 3rem;
        color: $transparentWhite;
    }
    .row1 {
        background-color: $brightOrange;
        button {
            color: $brightOrange;
        }
    }
    .row2 {
        background-color: $darkCyan;
        button {
            color: $darkCyan;
        }
    }
    .row3 {
        background-color: $veryDarkCyan;
        button {
            color: $veryDarkCyan;
            margin-top: 20px;
        }
    }

}

@media (min-width: 992px) {
    .main-container {
        display: flex;
    }
}